<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grepit | Dashboard</title>
    <link href="/assets/css/terminal.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.css" rel="stylesheet">

</head>

<body>
    <div class="wrapper-v j-center a-center nopadding">
        <div class="wrapper-h j-center a-center">
            <div class="wrapper-v j-start a-start nopadding w-min-content blurred" style="min-width: 216px;">
                <div class="wrapper-h h-min-content nowrap j-start cg-1618 a-center bordered-bottom thick">
                    <img src="logo_placeholder.png" class="navbar-brand">
                    <h1 class="medium">Nome Azienda</h1>
                </div>
                <div class="wrapper-v j-start a-center nav-sections rg-8p">
                </div>
            </div>
            <div class="wrapper-v j-start a-start nopadding"></div>
        </div>
    </div>
    <script type="module" src="/assets/js/dashboard.js"></script>
</body>

</html>